# taskcat CLI
taskcat_outputs/
alchemist
taskcat
.taskcat/
.taskcat_overrides.yml
awsqs-eks-cluster.zip
lambda.zip

# IDE
.vscode
.idea
quickstart-cloudbees-ci.iml

# Python (pyenv / pyenv-virtualenv)
.python-version